<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            text-align: center;
        }

        .btn {
            display: inline-flex;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
            background-color: #4CCFC9;
            height: 54px;
            padding: 0 50px;
            margin: 10px 0;
            border-radius: 27px;
        }

        .btn:hover {
            background-color: #2DC2BC;
        }

        .logout {
            background-color: rgb(224, 39, 39);
        }

        .logout:hover {
            background-color: rgb(247, 9, 9);
        }
    </style>
</head>

<body>
    <h1>HALLO</h1>
    <h3>pilih salah satu menu di bawah ini</h3>
    <a class="btn" href="/data">edit database barang</a><br>
    <a class="btn" href="/transaction">menu transaksi</a><br>
    <a class="btn logout" href="/logout">log out</a>
</body>

</html>